@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 15px 25%;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-block {
    display: flex;
    padding: 80px 25%;
    background-color: #1F2937;
    gap: 2%;
    
}

.main-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 49%;
}

h1 {
    font-size: 48px;
    /**font-weight: 700;**/
    color: #F9FAF8;
}

.button-link {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #3882F6;
    width: 100px;
    text-align: center;
    color: #F9FAF8;
    /**font-weight: 700;**/
    margin-top: 5px;

}

.image-placeholder {
    width: 49%;
    background-color: #696969;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.square {
    border: 3px solid;
    border-color: #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.info-list {
    display: flex;
    justify-content: center;
    gap: 35px;

}

.random {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-block {
    padding: 0 25%;
    
}

.square-text {
    max-width: 150px;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    padding: 40px 0;
}